.text-container {
  font-size: 18px;
  width: calc(100% - 10px)
}  
strong {
  font-weight: bold;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 28px;
  margin-bottom: 40px;
  text-align: center;
}
.red {
  color: #ba1820;
}
.red-title {
  font-size: 28px;
  color: #ba1820;
}
.title-cursive {
  font-style: italic;
  color: #999;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article, figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 60px)/2);
  border: 1px solid #DDD;
  padding: 10px;
  box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
  margin-bottom: 10px;
}
article > span {
  line-height: 28px;
}
img {
  width: 300px;
  height: 225px;
}
.red-large {
  font-size: 72px;
  line-height: 65px;
  float: left;
  margin-right: 5px;
  color: #ba1820;
}
main, footer {
  margin: auto;
  align-items: center;
}
main {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 50px;
}
.text-container {
  line-height: 22px;
}
.divider {
  height: 3px;
  border-radius: 1px;
  background-color: #999;
  width: 40px;
  flex: 1;
  padding: 0 10px;
}
.ext {
  padding: 0 10px;
}
.separator {
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

.fig-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}
.cursive {
  font-style: italic;
  color: #999;
}
figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
}

.fig-title {
  font-size: 24px;
}

body {
  background-image: url(https://www.transparenttextures.com/patterns/bedge-grunge.png);
}

@media (max-width: 800px) {

  main, .fig-container {
    flex-flow: column;
  }
  article, figure {
    width: calc(100% - 50px);
  }
}

@media (min-width: 801px) {
  article:nth-of-type(odd), figure:nth-of-type(odd) {
    margin-right: 10px;
  }
  article {
    height: 400px;
  }
  figure {
    height: 270px;
  }
  main, footer {
    width: 800px;
  }
}